body {
    margin-left:0px;
    background-image: url("bgBlueprint.png");
    background-repeat: repeat;
    height: 100%;
    background-attachment: fixed;
}

body:before {
  position : fixed;
  content: " ";
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.7) 100%);
  background-attachment: fixed;
  /*background-image: linear-gradient(to bottom right, rgb(255,0,0,1), rgb(0,0, 255, 255) );*/
}

.pgContainer {
  border:1px solid #1b1d1d;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
  background-image: url("bg-noise.png");
  background-repeat: repeat;
  
  /*border-radius:8px;*/
  
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.7);
  font-family: Monospace;
  font-size: 12px;
  color: var(--fg);
}

.alignUL {
  display:block;
  float:left;
}

.alignLR {
  display:block;
  float: right;
  
  vertical-align:top;
}


.decorCode {
  position : fixed;
  color:var(--fg);
  margin:auto;
  left:0;right:0;
  top:0;bottom:0;
  z-index:-1;
  position:fixed;
  filter: alpha(opacity=22);
  opacity: 0.22;
  overflow:hidden;
}

.alRight {
    text-align:right;
}
.alLeft {
    text-align:left;
    left: -10%;
}

#webTitle {
  width:918px;
  margin: 0px auto;
  padding:0px 20px 30px 30px;
  
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  font-family: Monospace;
  font-size: 36px;
  color: var(--fg);
}

#webTitleSub {
  text-align:left;
  font-size:18px;
  float:left;
  margin-left:28px;
}

.toolbar {
    width:90%;
    height:36px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
  
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    font-family: Monospace;
    font-size: 24px;
    color: var(--fg);
    
    margin: 2px 28px 0px 0px;
    text-align:center;
    /*border-radius:15px;*/
    
    border: 7px ridge var(--fg);
    border-bottom:4px solid var(--fg);
    border-right:30px solid var(--fg);
    border-left: 0px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 100% 110%, 0% 110%, 0% 110%, 0% 
0%);
}

.toolButton {
    background: -webkit-radial-gradient(bottom center, ellipse cover, 
var(--hlt) 0%,rgba(0,0,0,0.0) 80%);
  float: left;
  display: block;
  padding:3px 19px 3px 19px;
  text-decoration: none;
  border-left: 1px solid rgba(white, .06);
  border-right: 1px solid rgba(black, .20);
  cursor: pointer;
  vertical-align: middle;
  transition:0.2s;
}

.toolButton:hover {
  border-bottom: 6px ridge var(--hl);
  /*box-shadow: inset 0px -8px 4px 0px #45e3ff66;*/
  color: #fff9cf;/*#cdf7ff;*//*#ffe9bf;*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.tbSep {
  height:34px;
  margin:0px 6px 0px 6px;
  float:left; display:block;
  padding:0px;
  border:1px solid #1b1d1d;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
}

#logo {
    margin: 8px;
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-family: Monospace;
    color: var(--fg);
}

#hnav {
    border: 7px solid var(--fg);
    border-bottom:4px solid var(--fg);
    border-right:30px solid var(--fg);
    border-left: 0px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 100% 110%, 0% 110%, 0% 110%, 0% 
0%);
    width:90%;
}

#hnav div.item {
    display:inline-block;
    width:120px;
    margin:0px;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:12px;
    font-size: 20px;
    border: 2px solid black;
    border-top:0px;
    border-bottom:0px;
    border-left:0px;
}

.subtext {
    font-size:8px;
    vertical-align:bottom;
}

#vnav {
    display:inline-block;
    height:100%;
    border-right:2px solid blue;
}

#footer {
    vertical-align:bottom;
    text-align:center;
    margin-top:8px;
    margin-bottom:12px;
    width:100%;
    
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.7);
    font-family: Monospace;
    font-size: 11px;
    color: var(--fg);
}

#container {
    border:2px solid var(--fg);
    border-top: 0px;
    padding-top: 3px;
    border-left: 0px;
    padding-left:8px;
    font-size:13px;
    
    margin-left:0%;
    /*padding-right:18px;
    padding-left:18px;*/
    width:90%;
    min-height:80%;
}

#banner {
    text-align:left;
    display:block;
    overflow:hidden;
    width:100%;
}

#page {
    display:inline-block;
    padding: 12px;
    padding-bottom: 8px;
    font-size:14px;
}

#toolbar.sticky {
    position: fixed;
    top: 0;
}
